@font-face {
  font-family: "iconfont"; /* Project id 4410460 */
  src: url('iconfont.woff2?t=1705233352104') format('woff2'),
       url('iconfont.woff?t=1705233352104') format('woff'),
       url('iconfont.ttf?t=1705233352104') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-gmail:before {
  content: "\e60b";
}

.icon-wechat:before {
  content: "\e60c";
}

.icon-rss:before {
  content: "\e60e";
}

.icon-weibo:before {
  content: "\e60d";
}

.icon-tieba:before {
  content: "\e610";
}

.icon-steam:before {
  content: "\e611";
}

.icon-leetcode:before {
  content: "\e60f";
}

